@font-face {
    font-family: 'meeting-timer';
    src: url('../assets/fonts/meeting-timer.eot?fnqslh');
    src: url('../assets/fonts/meeting-timer.eot?fnqslh#iefix') format('embedded-opentype'),
        url('../assets/fonts/meeting-timer.ttf?fnqslh') format('truetype'),
        url('../assets/fonts/meeting-timer.woff?fnqslh') format('woff'),
        url('../assets/fonts/meeting-timer.svg?fnqslh#meeting-timer') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa,
.fas {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'meeting-timer' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-play:before {
    content: "\f04b";
}

.fa-pause:before {
    content: "\f04c";
}

.fa-stop:before {
    content: "\f04d";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}