@import 'font';

$color-green: #3ec342;
$color-orange: #ff9f1e;
$color-blue: #1e5c9c;
$color-black: #272727;
$color-white: #fff;
$color-red: red;
$color-gray: #ccc;

$color-background: $color-black;
$color-foreground: $color-white;

$color-circle-default: $color-blue;
$color-circle-running-back: $color-gray;
$color-circle-running: $color-blue;
$color-circle-finished: $color-red;

$circle-width: 80vw;
$circle-height: $circle-width;
$circle-inner-height: $circle-height - 40;
$circle-inner-width: $circle-inner-height;

$input-size: 40px;

@keyframes blink {
  from {
    stroke: $color-circle-running-back;
  }
  to {
    stroke: $color-circle-finished;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  background: $color-background;
  color: $color-foreground;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  z-index: 0;
  height: 100%;
  width: 100%;
}

::selection {
  background: $color-foreground;
  color: $color-background;
}
::-moz-selection {
  background: $color-foreground;
  color: $color-background;
}

#play,
audio {
  display: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.text-right {
  text-align: right;
}

small {
  font-size: 0.9rem;
  line-height: 1.5rem;
  display: inline-block;
}

* {
  outline: 0;
}

// Circle

.circle-wrapper {
  position: relative;
  display: block;
  height: auto;
  width: $circle-width;
  padding: 2em 0;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
  max-width: 900px;

  @media (max-width: 480px) and (orientation: landscape) {
    width: 45vw;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-mins) ':' attr(data-secs);
    border-radius: 100%;
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0 0 0.5em black;
    width: 100%;
    height: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (orientation: landscape) {
      font-size: 10vh;
    }
  }

  .circle-svg {
    width: 100%;
    height: auto;
    margin: 0 auto;

    @media (orientation: landscape) {
      width: auto;
      max-height: 70vh;
    }

    path {
      transition: stroke-dashoffset 0.2s linear;
      stroke: $color-circle-default;
      stroke-width: 2px;
    }
  }

  &.timer-running {
    path:first-child {
      //stroke: $color-circle-running-back;
      opacity: 0.3;
    }

    .circle-bar {
      stroke: $color-circle-running;
    }
  }

  &.timer-finished {
    path {
      animation: blink 1s infinite;
      stroke: $color-circle-finished;
    }
  }
}

// Controls

.controls-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: $circle-width / 2;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  button {
    border: 0 none;
    box-shadow: none;
    color: $color-white;
    background: transparent;
    font-size: 3rem;
    outline: none;
    margin: 0 10px;
  }
}

// Number picker
.number-picker {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 1rem;
  width: $input-size;

  > div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    min-width: $input-size;
    min-height: $input-size;

    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1),
    &:nth-child(3) {
      font-size: 1.5rem;

      > span {
        font-weight: bold;
      }
    }
  }

  .number-picker-control {
    cursor: pointer;
  }

  .number-picker-input {
    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 0 none;
      color: $color-white;
      text-align: center;
      box-shadow: none;
      outline: none;
      font-size: inherit;
      padding-bottom: 5px;

      &:active,
      &:focus {
        border-bottom: 1px solid $color-white;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  + span {
    font-size: 2rem;
    padding: 20px;
  }
}

// Settings
@import 'settings';
